## Nettoyage : Typage incohérent

In [5]:
import numpy as np
import pandas as pd

df = pd.DataFrame({
    'maths' : [12, 8, 15],
    'francais' : [14, 9, "16"],
    'histoire' : [13, 10, 15],
    'bac' : [15, 18, 9],
})

# Remplacer un typage erroné
# pd.to_numeric : essaye de mettre en numérique
# errors s'il n'arrive pas, laisse en null (NAN)
df_clean = df.apply(pd.to_numeric, errors='coerce')

print(df_clean)

# Exemple que sur une colonne
# 1 : soit je copie colle tout le df dans le df_clean et après je corrige que le français dans le df clean
df_clean = df
df_clean['francais'] = pd.to_numeric(df['francais'], errors='coerce')

# 2 : je modifie la colonne de français directement dans le df origianl
df['francais'] = pd.to_numeric(df['francais'], errors='coerce')

print("-----------------------")
print(df['francais'])

   maths  francais  histoire  bac
0     12        14        13   15
1      8         9        10   18
2     15        16        15    9
-----------------------
0    14
1     9
2    16
Name: francais, dtype: int64

## Nettoyage : manque une donnée

In [15]:
#Manque une note dans histoire
df = pd.DataFrame({
    'maths' : [12, 8, 15],
    'francais' : [14, 9, 16],
    'histoire' : [13, 10, ""],
    'bac' : [15, 18, 9],
})

# fillna = remplir les données manquantes
df_clean_1 = df.apply(pd.to_numeric, errors='coerce')
print(df_clean_1)

# Ex : remplacer les données manquantes par 0
df_clean_2 = df
df_clean_2 = df_clean_2.fillna(0)
print(df_clean_2)

# Ex : remplacer les données manquantes par la moyenne
#Mettre NAN à 0
df = df.apply(pd.to_numeric, errors='coerce')
df['histoire'] = df['histoire'].fillna(0)
print(df)

# Calculer la moyenne sur les colonnes qui sont pas = 0
moyenne = df.loc[df['histoire'] > 0, 'histoire'].mean()
print(moyenne)

# Remplacer les colonnes histoire à 0 par la moyenne
# Attention c'est un guide technique (remplacer 0 par autre chose)
# Dans un contexte réel on remplacerait les notes des élèves
df.loc[df['histoire'] == 0, 'histoire'] = moyenne
print(df)

   maths  francais  histoire  bac
0     12        14      13.0   15
1      8         9      10.0   18
2     15        16       NaN    9
   maths  francais histoire  bac
0     12        14       13   15
1      8         9       10   18
2     15        16             9
   maths  francais  histoire  bac
0     12        14      13.0   15
1      8         9      10.0   18
2     15        16       0.0    9
11.5
   maths  francais  histoire  bac
0     12        14      13.0   15
1      8         9      10.0   18
2     15        16      11.5    9

In [21]:
df = pd.DataFrame({
    'maths' : [12, 8, 15],
    'francais' : [14, 9, 16],
    'histoire' : [13, 10, pd.NA],
    'bac' : [15, 18, 9],
})

# Exemple : renommer une colonne histoire par histoire_2
df = df.rename(columns={'histoire' : 'histoire_2'})
print(df)

# Supprimer des lignes avec des données nulles
df = df.dropna()
print(df)

   maths  francais histoire_2  bac
0     12        14         13   15
1      8         9         10   18
2     15        16       <NA>    9
   maths  francais histoire_2  bac
0     12        14         13   15
1      8         9         10   18